 body {
    background: #fff;
    font-family: 'OpenSansRegular', sans-serif;
    color:#666;
    font-size: 12px;
}
table {
    border-collapse: collapse;
}
table tr:nth-child(odd) td,
table tr:nth-child(odd) th {
    background-color: #f9f9f9;
}
.table td, .table th {
    text-align: center;
    border: 1px solid #666;
}
h4 {
    font-family: 'openSansLight';
    font-weight: 300;
    text-align: center;
}
h4 strong {
    font-weight: bold;
}
#toprint {
    text-align: center;
    position: absolute;
    top: 20px;
}
@media print {
    #toprint {
        display: none;
    }
}